.c {
    padding: 15px;
    margin-top: 30px;
    background-color: rgb(226, 226, 226);
}
.card-img-top:hover {
    opacity: 0.7;
}
.c img {
    width: 100%;
    object-fit: cover;
    border-style: inset;
    border-width: 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.5);
}

.c .card-img-top {
    margin-top: -30px;
    margin-bottom: 15px;
}

#artButton {
    text-align: center;
}


.column {
    width: 20%;
    padding: 5px;
} 

.buttonDiv {
    justify-content: center;
    
}

#all-container{
    background-color: #25292B;
}

#search-card{
    background-color: rgb(226, 226, 226);
   }
   
   #search-container{
       margin-left: 0px;
   }
   #view-all-logo{
       height: 200px;
       width: 200px;
   }
   