<!-- navbar for when a user is logged in -->
<app-logged-navbar></app-logged-navbar>

<!-- ***make it for userhome -->
<div class="container-fluid">
  <div class="row" id="behind-jumbotron">
      <div class="col-md-9">
              <div class="jumbotron mt-5" id="jumbotron-userhome">
                  <h1 class="display-4">Welcome To Your <strong> DCA Personal Gallery</strong>, {{ userName }}</h1>
                  <hr class="my-4">

                  <h5>Special DCA Features!</h5>
                  <ul>
                      <li>Save Your Favorite Artworks
                            <i class="fas fa-2x ml-3 fa-heart"></i>
                        </li>
                      <li>See Where Pieces Are Located And Book Travel Plans
                           <i class="fas fa-2x ml-3  fa-map-marker-alt"></i>
                        </li>
                      <li>Extra Features!
                            <i class="fas fa-2x ml-3  fa-star"></i>
                      </li>
                  </ul>
                  <!-- extra features page routing -->
                   <button type="button" class="btn btn-primary" routerLink="/extrafeatures"data-toggle="modal" data-target="#registrationForm">
                      Click Here for Extra Features
                  </button> 
               </div>  
      </div>
  <!--  -->
    <div class="col-md-3">
        <div class="card mt-5" id="next-to-jumbotron">
            <div class="card-body">
                    <div class="" id="user-blurb">"Art museums provide a tangible connection between the humanities and Americans’ lives. " Access history's greatest artworks and enjoy the museum experience from home!</div> 
                    <div>“Indicators in the News.” Humanities Indicators, www.humanitiesindicators.org/"
                        <i class="fas  ml-3 fa-palette"></i>
                    </div>
                   
            </div>
        </div>    
    </div>
    <!-- end blue row -->
  </div>
</div>
<!-- ***change this to be favorite artworks, involves db and favorites button -->
<app-favorites></app-favorites>