<!-- navbar for when a user is logged in -->
<app-logged-navbar></app-logged-navbar>

<!-- ***make it for userhome -->
<div class="container-fluid">
  <div class="row" id="behind-jumbotron">
      <div class="col-md-9">
              <div class="jumbotron mt-5" id="jumbotron-userhome">
                  <h1 class="display-4">Welcome to the User Home page, {{ userName }}</h1>
                  <p class="lead">This is the features you can do</p>
                  <hr class="my-4">
                  <p>This is a description of  a few features</p>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrationForm">
                      Empty Button
                  </button> 
               </div>  
      </div>
 
      <div class="col-md-3">
          <div class="card mt-5" id="next-to-jumbotron"></div>
      </div>
  </div>
</div>
<!-- ***change this to be favorite artworks, involves db and favorites button -->
