

.nav-link{
    color: #6980AA;
    font-family: 'Carrois Gothic SC', sans-serif;
    margin: 18px;
    
    border-radius: 10%;
    padding: 5px;
   
}
.nav-link:hover {
    -webkit-transform:translate(0px,-5px);
    -moz-transform:translate(0px,-5px);
    -ms-transform:translate(0px,-5px);
    -o-transform:translate(0px,-5px);
    transform:translate(0px,-5px);
  }


link a:hover{

}

nav{
    background-color:  #25292B;
}


#logotemp{
    background-color: #999691;
}
#login-form{
    width: 250px;
    margin: 0px;
 
}

#dropdownform{
    padding: 0px;
}